.techniques__section-title {
  margin: 0; /*обнуляем отсутпы по умолчанию*/
  padding: 0; /*обнуляем отсутпы по умолчанию*/
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
  line-height: 1.15;
}
