.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: var(--main-gray);
  margin: 0;
  overflow: hidden;
}



